.options {
	max-width: fit-content;
	select {
		font-family: "Patua One";
		position: relative;
		padding: 1em 1.8em;
		outline: none;
		border: 1px solid #303030;
		background: #212121;
		color: var(--color1);
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 15px;
		overflow: hidden;
		-webkit-transition: 0.2s;
		transition: 0.2s;
		border-radius: 20px;
		cursor: pointer;
		font-weight: bold;
	}
	option {
		text-align: center;
	}
}

.container {
	div {
		display: flex;
		position: fixed;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;

		img {
			width: 70vw;
			height: 70vh;
			object-fit: cover;
			border: 2px inset #000000;
			border-radius: 50px 150px 50px 150px;
			-moz-border-radius: 50px 150px 50px 150px;
			-webkit-border-radius: 50px 150px 50px 150px;
			border: 0px solid #000000;
			border: 0px solid #000000;
			border: 0px solid #000000;
			border: 1px solid rgba(255, 255, 255, 0.125);
			opacity: 0.9;
			position: absolute;
		}
		div {
			width: 70vw;
			position: relative;
			height: fit-content;
		}

		h1 {
			z-index: 100;
			backdrop-filter: blur(12px) saturate(176%);
			-webkit-backdrop-filter: blur(12px) saturate(176%);
			background-color: rgba(0, 0, 0, 0.3);
			letter-spacing: 0.25rem;
			font-size: 4rem;
			font-family: "Patua One";
			margin: auto 15vw;
			position: relative;
			text-align: center;
			text-shadow: rgb(0, 0, 0) 0.3rem 0px 0px,
				rgb(0, 0, 0) 0.54px 0.84px 0px, rgb(0, 0, 0) -0.41px 0.9px 0px,
				rgb(0, 0, 0) -0.98px 0.14px 0px,
				rgb(0, 0, 0) -0.65px -0.75px 0px,
				rgb(0, 0, 0) 0.28px -0.95px 0px, rgb(0, 0, 0) 0.96px -0.27px 0px;
		}
	}
}

/* <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Patua+One&family=Rubik+80s+Fade&family=Yeseva+One&display=swap" rel="stylesheet"> */

/*  */
