.mainContainerr {
	grid-column: 1/2;
	grid-row: 1/3;

	.options {
		max-width: fit-content;
		h1 {
			font-size: 1.2rem;
			text-align: center;
			color: rgb(255, 255, 255);
			cursor: pointer;
		}
		.title {
			color: red;
		}

		div {
			margin: 0 auto;

			font-family: "Patua One";
			font-size: 1rem;
			position: relative;
			padding: 1em 1.8em;
			outline: none;
			text-align: center;
			border: 1px solid #303030;
			background: #040404;
			color: var(--color1);
			text-transform: uppercase;
			letter-spacing: 2px;
			overflow: hidden;
			-webkit-transition: 0.2s;
			transition: 0.2s;
			border-radius: 10px;
			font-weight: bold;
			width: fit-content;
			border: none;
		}
	}

	.options h1:hover {
		color: var(--color1);
	}
}
@media (max-width: 40rem) {
	.options {
		max-width: fit-content;
		margin: auto;
		option {
			font-size: 1.25rem;
			text-align: left;
			color: rgb(255, 255, 255);
		}

		select {
			margin: 0 auto;
			margin-top: 1.5rem;
			font-family: "Patua One";
			font-size: 1.25rem;
			position: relative;
			padding: 1em 1.8em;
			outline: none;
			text-align: center;
			border: 1px solid #303030;
			background: #040404;
			color: var(--color1);
			text-transform: uppercase;
			letter-spacing: 2px;

			overflow: hidden;
			-webkit-transition: 0.2s;
			transition: 0.2s;
			border-radius: 10px;
			cursor: pointer;
			font-weight: bold;
		}
	}
}

@media (max-width: 26rem) {
	.options {
		grid-column: 1/2;
		grid-row: 1/3;
		max-width: fit-content;
		option {
			font-size: 1.5rem;
			text-align: left;
			color: rgb(255, 255, 255);
		}

		select {
			margin: 0 auto;
			margin-top: 1.5rem;
			font-family: "Patua One";
			font-size: 1.5rem;
			position: relative;
			padding: 1em 1.8em;
			outline: none;
			text-align: center;
			border: 1px solid #303030;
			background: #040404;
			color: var(--color1);
			text-transform: uppercase;
			letter-spacing: 2px;

			overflow: hidden;
			-webkit-transition: 0.2s;
			transition: 0.2s;
			border-radius: 10px;
			cursor: pointer;
			font-weight: bold;
		}
	}
}
