.mainContainer {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr;
	height: 100%;
	margin: 0 10rem;
}

@media (max-width: 100rem) {
	.mainContainer {
		display: grid;
	}
}

@media (max-width: 40rem) {
	.mainContainer {
		display: block;
		height: 100%;
	}
}

@media (max-width: 26rem) {
	.mainContainer {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
}
