.mainContainerr {
	display: grid;
	grid-template-columns: auto 2fr;
	height: 100%;

	
}
/* <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Patua+One&family=Rubik+80s+Fade&family=Yeseva+One&display=swap" rel="stylesheet"> */

/*  */
