.mainContainerr {
	display: grid;
	grid-template-columns: auto 2fr;
	height: 95vh;

	.options {
		grid-column: 1/2;
		grid-row: 1/3;
		max-width: fit-content;

		option {
			font-size: 2rem;
			text-align: center;
			justify-content: center;
			align-items: center;
			color: red;
		}

		select {
			margin: 0 auto;
			margin-top: 1.5rem;
			font-family: "Patua One";
			position: relative;
			padding: 1em 1.8em;
			outline: none;
			text-align: center;
			border: 1px solid #303030;
			background: #212121;
			color: var(--color1);
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 15px;
			overflow: hidden;
			-webkit-transition: 0.2s;
			transition: 0.2s;
			border-radius: 10px;
			cursor: pointer;
			font-weight: bold;
		}
	}

	.um {
		div {
			display: grid;

			height: 95vh;
			margin: 0 auto;
			margin-right: 10rem;
		}
		img {
			grid-column: 1/3;
			grid-row: 1/3;
			margin: auto 0;
			aspect-ratio: 10/6;
			width: 70vw;
			object-fit: fill;
			border: 2px inset #000000;
			border-radius: 50px 150px 50px 150px;
			opacity: 0.9;
			position: relative;
		}
		h1 {
			grid-column: 1/3;
			grid-row: 1/3;
			width: 40vw;
			height: fit-content;
			z-index: 100;
			backdrop-filter: blur(12px) saturate(176%);
			-webkit-backdrop-filter: blur(12px) saturate(176%);
			background-color: rgba(0, 0, 0, 0.3);
			letter-spacing: 0.25rem;
			font-size: 3.5em;
			font-family: "Patua One";

			margin: auto;

			position: relative;
			text-align: center;
			text-shadow: rgb(0, 0, 0) 0.3rem 0px 0px,
				rgb(0, 0, 0) 0.54px 0.84px 0px, rgb(0, 0, 0) -0.41px 0.9px 0px,
				rgb(0, 0, 0) -0.98px 0.14px 0px,
				rgb(0, 0, 0) -0.65px -0.75px 0px,
				rgb(0, 0, 0) 0.28px -0.95px 0px, rgb(0, 0, 0) 0.96px -0.27px 0px;
		}
	}
}
/* <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Patua+One&family=Rubik+80s+Fade&family=Yeseva+One&display=swap" rel="stylesheet"> */

/*  */
