.mainContainer {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	height: 90%;
}

@media (max-width: 104rem) {
	.mainContainer {
		display: grid;

		grid-template-rows: 1fr 1fr;
	}
}
@media (max-width: 90rem) {
	.mainContainer {
	}
}

@media (max-width: 84rem) {
	.mainContainer {
		height: fit-content;
	}
}
@media (max-width: 68rem) {
	.mainContainer {
		display: block;
	}
}

@media (max-width: 46rem) {
	.mainContainer {
	}
}

@media (max-width: 26rem) {
	.mainContainer {
	}
}
