.mainContainerr {
	display: grid;
	grid-template-columns: auto 2fr;
	height: 100%;
	width: 80%;
	margin: 10rem auto;
}

@media (max-width: 26rem) {
	.mainContainerr {
		display: block;
		height: 100%;
	}
}

@media (max-width: 40rem) {
	.mainContainerr {
		display: block;
		height: 100%;
	}
}
