.mainContainerr {
	display: grid;
	grid-template-columns: auto 2fr;
	height: 100%;
	width: 80%;
	margin: 0 10rem;
}

@media (max-width: 100rem){
	.mainContainerr {
		display: block;
		height: 100%;
	}
}



@media (max-width: 40rem) {
	.mainContainerr {
		display: block;
		height: 100%;
	}
}
