.container {
	width: 100vw;
	height: 10vh;

	background-color: black;
	margin: auto;

	div {
		margin: 0 auto;
		height: 5vh;
	}

	h1 {
		font-family: "Unbounded";
		font-size: 3rem;
		letter-spacing: 0.2rem;
		text-align: center;
	}
}
