.container {
	width: 100vw;
	height: 10vh;
	text-align: center;
	background-color: black;
	margin: auto;
	font-family: "Unbounded";
	font-size: 1rem;
	letter-spacing: 0.2rem;
	display: block;

	div {
		margin: auto auto;
		height: 5vh;
	}

	h1 {
	}
}
